<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>基于卷积神经网络的微博情感分析工具</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">

</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="../moban/index.html"><i class="large material-icons">insert_chart</i> <strong>CNNWeb</strong></a>

		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>
    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a id = 'run_state' href="/" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i>运行状态</a>
                    </li>
                    <li>
                        <a id = 'upload' href="/upload" class="waves-effect waves-dark"><i class="fa fa-arrow-circle-o-up"></i> 上传文件</a>
                    </li>
					<li>
                        <a id = 'train'href="/train" class="waves-effect waves-dark"><i class="fa fa-coffee"></i> 训练模型 </a>
                    </li>
                    <li>
                        <a id = 'eval' href="/eval" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 评价模型 </a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> 快速浏览<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#" class="waves-effect waves-dark">正在训练</a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect waves-dark">正在验证</a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
<div id="page-wrapper">
    <div class="header">
       <h1  class="page-header"></h1>
			<ol class="breadcrumb">
              <li><a href="">Home</a></li>
              <li><a id="pageheader" href="/">train</a></li>
			</ol>
    </div>
    <div id="page-inner">

        <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action">
                             训练任务
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-dataset">
                                    <thead>
                                        <tr>
                                            <th>任务名称</th>
                                            <th>数据集</th>
                                            <th>创建时间</th>
                                            <th>运行状态</th>
                                        </tr>
                                    </thead>
                                    <tbody id = "dataset_table">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>


    </div>
</div>
</div>
    <script src="assets/js/jquery-1.10.2.js"></script>
    <script >
        function fill_table(id,name,dataset,time,status) {
            var html = '<tr class="odd gradeX">'+

                    '<td>'+'<a href="/train/'+id+'/">'+name+'</a></td>'+
                    '<td>'+dataset+'</td>'+
                    '<td>'+time+'</td>'+
                    '<td class="center">'+status+'</td>'+
                '</tr>'
            return html
        }
        $(document).ready(function () {
            var thispage = '{{ pagename }}'
            var originclass = $("a#" + thispage).attr('class')
            $("a#" + thispage).attr('class', 'active-menu ' + originclass)
            var DS = $.ajax({
            url:'/trainset/',
            success:function (data) {
                html = ''
                dataset_num = data.length
                for (var i = 0;i<data.length;i++){
                    console.log(data[i])
                    html+=fill_table(data[i]['id'],data[i]['name'],data[i]['data_set'],data[i]['date_time'],data[i]['state'])
                }
               $('tbody#dataset_table').html(html)

            }
        })

        })
        $("input#submit").click(function () {
            console.log('clk')
            var data = new FormData()
            data.append('name',$('input#dataset_name').val())
            data.append('source',$('input#dataset_source').val())
            data.append('fileupload',$('#files')[0].files[0])
            $.ajax({
                url:'/upload/',
                type:'POST',
                data:data,
                cache:false,
                contentType:false,
                processData:false

            }).done(function (res) {
                console.log(res)

            }).fail(function () {
                console.log(res)
            })
        })
    </script>
	<!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>

	<script src="assets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>


	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>

	 <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
</body>
</html>